<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTK50gEv9v6Qr8XLlS9E1W4GuV8OCTdFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1031463920119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soolra.soolra</string>
	<key>PROJECT_ID</key>
	<string>soolra-75028</string>
	<key>STORAGE_BUCKET</key>
	<string>soolra-75028.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031463920119:ios:b16fc795c7c42e0e67cef2</string>
	<key>CFBundleIdentifier</key>
	<string>@main</string>
</dict>
</plist>
