<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Game Boy Advance ROM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.gba-rom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Nintendo Entertainment System ROM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.nes-rom</string>
			</array>
		</dict>
	</array>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>DINCondensed-Regular.ttf</string>
		<string>D-DIN.ttf</string>
		<string>D-DINCondensed-Bold.ttf</string>
		<string>Ebrima.ttf</string>
		<string>D-DINCondensed.ttf</string>
		<string>Orbitron-SemiBold.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-ExtraBold.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Black.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GBA ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.gba-rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gba</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NES ROM</string>
			<key>UTTypeIdentifier</key>
			<string>public.nes-rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nes</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
